<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo.png" type="image/icon type">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <style>
        a {
            color: #050C9C;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="../index.html"> <img src="../assets//img/logo.png" alt="logo"
                            style="max-height: 75px;"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container d-grid gap-auto col-6 my-5">
        <h1> Login</h1>
        <h4> Welcome Back </h4>
        <p>Does'nt Have An Account ? <a href="./register.html">Register</a> Here!</p>
        <form onsubmit="login(event)">
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail" required>
                <div class="form-text">Email Format Must Be Valid.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required>
                <div class="form-text">Password Must Not Empty.</div>
            </div>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            <button type="submit" class="btn btn-primary d-grid gap-2 col-3 mx-auto my-3">Login</button>
        </form>
    </div>

    <script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script>
        function login() {
            event.preventDefault()
            alert('Successfully Logged In')
            window.location.href = './listCategory.html'
        }
    </script>
</body>

</html>