<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo.png" type="image/icon type">
    <title>Pinjam Buku</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="../index.html"> <img src="../assets//img/logo.png" alt="logo"
                            style="max-height: 75px;"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/listCategory.html">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/pinjamBuku.html">Pinjam Buku</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="../views/login.html">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Pinjam Buku</h1>
        <div>
            <h3>Daftar Buku</h3>
            <table class="table table-striped">
                <thead>
                    <th> No</th>
                    <th> ISBN</th>
                    <th> Judul</th>
                    <th> Pengarang</th>
                    <th> Penerbit</th>
                    <th> Tahun Terbit</th>
                    <th> Kategori</th>
                    <th> Action</th>
                </thead>
                <tbody id="tableBuku">
                </tbody>
            </table>
        </div>
    </div>

    <script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script>
        var listBuku = [
            {
                isbn: "9780143127550",
                judul: "To Kill a Mockingbird",
                pengarang: "Harper Lee",
                penerbit: "Harper Perennial Modern Classics",
                tahunTerbit: 2006,
                kategori: "Fiction",
            },
            {
                isbn: "9780061120084",
                judul: "1984",
                pengarang: "George Orwell",
                penerbit: "Signet Classic",
                tahunTerbit: 1950,
                kategori: "Science-Fiction",
            },
            {
                isbn: "9781594480003",
                judul: "Eat, Pray, Love",
                pengarang: "Elizabeth Gilbert",
                penerbit: "Penguin Books",
                tahunTerbit: 2007,
                kategori: "Romance-Comedy",
            },
            {
                isbn: "9780061122415",
                judul: "The Catcher in the Rye",
                pengarang: "J.D. Salinger",
                penerbit: "Little, Brown and Company",
                tahunTerbit: 1951,
                kategori: "Drama",
            },
            {
                isbn: "9780743273565",
                judul: "The Great Gatsby",
                pengarang: "F. Scott Fitzgerald",
                penerbit: "Scribner",
                tahunTerbit: 2004,
                kategori: "Action",
            }
        ]

        function displayTable() {
            var table = document.getElementById('tableBuku')
            table.innerHTML = ""
            listBuku.forEach(function (e, index) {
                var row = document.createElement('tr')
                row.innerHTML = `
                <td>${index + 1}</td>
                <td>${e.isbn}</td>
                <td>${e.judul}</td>
                <td>${e.pengarang}</td>
                <td>${e.penerbit}</td>
                <td>${e.tahunTerbit}</td>
                <td>${e.kategori}</td>
                <td> <button type="button" class="btn btn-primary mx-auto my-3" onclick="pinjamBuku(${index})">Pinjam</button> </td>
                `
                table.append(row)
            })
        }
        document.addEventListener('DOMContentLoaded', function () {
            displayTable()
        })
    </script>
</body>

</html>