<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo.png" type="image/icon type">
    <title>Books</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="../index.html"> <img src="../assets//img/logo.png" alt="logo"
                            style="max-height: 75px;"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/listCategory.html">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/pinjamBuku.html">Pinjam Buku</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/tambahBuku.html">Tambah Data Buku</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="../views/login.html">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container my-3 py-2">
        <h3>Daftar Buku</h3>
        <button type="button" class="btn btn-success d-grid gap-2 col-3 mx-auto my-3" data-bs-toggle="modal"
            data-bs-target="#addBookModal">Add
            New Book</button>
        <table class="table table-striped">
            <thead>
                <th> No</th>
                <th> ISBN</th>
                <th> Judul</th>
                <th> Pengarang</th>
                <th> Penerbit</th>
                <th> Tahun Terbit</th>
                <th> Kategori</th>
            </thead>
            <tbody id="tableBuku">
            </tbody>
        </table>
    </div>

    <!-- Modal for adding new book -->
    <div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBookModalLabel">Add New Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addBookForm">
                        <div class="mb-3">
                            <label for="isbn" class="form-label">ISBN</label>
                            <input type="text" class="form-control" id="isbn" required>
                        </div>
                        <div class="mb-3">
                            <label for="judul" class="form-label">Judul</label>
                            <input type="text" class="form-control" id="judul" required>
                        </div>
                        <div class="mb-3">
                            <label for="pengarang" class="form-label">Pengarang</label>
                            <input type="text" class="form-control" id="pengarang" required>
                        </div>
                        <div class="mb-3">
                            <label for="penerbit" class="form-label">Penerbit</label>
                            <input type="text" class="form-control" id="penerbit" required>
                        </div>
                        <div class="mb-3">
                            <label for="tahunTerbit" class="form-label">Tahun Terbit</label>
                            <input type="number" class="form-control" id="tahunTerbit" required>
                        </div>
                        <div class="mb-3">
                            <label for="kategori" class="form-label">Kategori</label>
                            <input type="text" class="form-control" id="kategori" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var listBuku = [
            {
                isbn: "9780143127550",
                judul: "To Kill a Mockingbird",
                pengarang: "Harper Lee",
                penerbit: "Harper Perennial Modern Classics",
                tahunTerbit: 2006,
                kategori: "Fiction",
            },
            {
                isbn: "9780061120084",
                judul: "1984",
                pengarang: "George Orwell",
                penerbit: "Signet Classic",
                tahunTerbit: 1950,
                kategori: "Science-Fiction",
            },
            {
                isbn: "9781594480003",
                judul: "Eat, Pray, Love",
                pengarang: "Elizabeth Gilbert",
                penerbit: "Penguin Books",
                tahunTerbit: 2007,
                kategori: "Romance-Comedy",
            },
            {
                isbn: "9780061122415",
                judul: "The Catcher in the Rye",
                pengarang: "J.D. Salinger",
                penerbit: "Little, Brown and Company",
                tahunTerbit: 1951,
                kategori: "Drama",
            }
        ]

        document.getElementById('addBookForm').addEventListener('submit', function (event) {
            var modalForm = document.getElementById('addBookForm')
            var addBookModal = bootstrap.Modal.getInstance(document.getElementById('addBookModal'))
            event.preventDefault()
            var newBook = {
                isbn: document.getElementById('isbn').value,
                judul: document.getElementById('judul').value,
                pengarang: document.getElementById('pengarang').value,
                penerbit: document.getElementById('penerbit').value,
                tahunTerbit: document.getElementById('tahunTerbit').value,
                kategori: document.getElementById('kategori').value,
            }
            listBuku.push(newBook)
            displayTable()
            alert("Successfully Added New Book")

            modalForm.reset()
            addBookModal.hide()
        })

        function displayTable() {
            var table = document.getElementById('tableBuku')
            table.innerHTML = ""
            listBuku.forEach(function (e, index) {
                var row = document.createElement('tr')
                row.innerHTML = `
                <td>${index + 1}</td>
                <td>${e.isbn}</td>
                <td>${e.judul}</td>
                <td>${e.pengarang}</td>
                <td>${e.penerbit}</td>
                <td>${e.tahunTerbit}</td>
                <td>${e.kategori}</td>
                `
                table.append(row)
            })
        }

        document.addEventListener('DOMContentLoaded', function () {
            displayTable()
        })
    </script>
</body>

</html>